.login {
    background-color: #65bc48;
    height: 100vh;
    padding-top: 50vh;
}

.login-form {
    display: flex;
    margin: auto;
    padding: 30px;
    flex-direction: column;
    width: 400px;
    transform: translateY(-60%);
    background-color: white;
    gap: 10px;
}

.login-form input {
    padding: 20px;
    background-color: #e9e7e7;
    outline: none;
    border: none;
}

.btn-login {
    padding: 15px;
    background-color: #5ea945;
    border: none;
    outline: none;
    color: white;
}

.create-account {
    text-decoration: underline;
}

.login-contact {
    display: flex;
    justify-content: center;
    gap: 10px;
}